* {
    box-sizing: border-box;
    margin: 15px;
  }
  
:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

header a {
    text-decoration: none;
    color: var(--grey);
}

#start-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

#start {
    background-color: var(--secondary);
    color: var(--primary);
    width: 150px;
    height: 50px;
    font-size: 100%;
    border-radius: 15px;
    border: none;
    opacity: .75;
}

#start:hover {
    border-width: 2px;
    border-style: outset;
    border-color: var(--grey);
    font-size: 125%;
    opacity: 1.0;
}

/* set display to none for opening of site, once user clicks 'start quiz', make them visable */
#answer-choices {
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

.q-btn {
    background-color: var(--secondary);
    color: var(--primary);
    height: 50px;
    font-size: 100%;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 5px;
    opacity: .75;
}

.q-btn:hover {
    border-width: 2px;
    border-style: outset;
    border-color: var(--grey);
    font-size: 125%;
    opacity: 1.0;
}

#question-1, #question-2, #question-3, #question-4, #question-5 {
    display: none;
}